In [15]:
# T1-21. Binning Data / #비닝 #구간나누기
# basic1 데이터 중 'age'컬럼 이상치를 제거하고, 
# 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
# (이상치는 음수(0포함), 소수점 값)
# 풀이

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
print(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df = df[df['age'] > 0]

df_int_age = df['age'].astype('int32')
df = df[df['age'] == df_int_age]

df = df.sort_values('age', ascending=False)

print(len(df))
df1 = df[:int(len(df)/3)]
df2 = df[int(len(df)/3):int(len(df)/3*2)]
df3 = df[int(len(df)/3*2):]
print(len(df1), len(df2), len(df3))

age_median_df1 = df1['age'].median()
age_median_df2 = df2['age'].median()
age_median_df3 = df3['age'].median()

answer = age_median_df1 + age_median_df2 + age_median_df3
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
90
30 30 30
165.0

In [20]:
# 해답

import pandas as pd

df = pd.read_csv('./data/basic1.csv')
# print(df.shape)

df = df[~(df['age'] <= 0)]
df = df[(df['age'] == round(df['age'],0))]
# print(df.shape)

df['range'] = pd.qcut(df['age'], q=3, labels=['group1','group2','group3'])
print(df['range'].value_counts())

g1_med = df[df['range'] == 'group1']['age'].median()
g2_med = df[df['range'] == 'group2']['age'].median()
g3_med = df[df['range'] == 'group3']['age'].median()

answer = g1_med +g2_med +g3_med
print(answer)

group1    30
group2    30
group3    30
Name: range, dtype: int64
165.0

In [19]:
df

       id    age city    f1  f2   f3    f4         f5   range
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791  group1
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826  group1
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986  group1
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078  group3
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869  group1
..    ...    ...  ...   ...  ..  ...   ...        ...     ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078  group3
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373  group3
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899  group2
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034  group1
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999  group2

[90 rows x 9 columns]

In [21]:
help(pd.qcut)

Help on function qcut in module pandas.core.reshape.tile:

qcut(x, q, labels=None, retbins: 'bool' = False, precision: 'int' = 3, duplicates: 'str' = 'raise')
    Quantile-based discretization function.

    Discretize variable into equal-sized buckets based on rank or based
    on sample quantiles. For example 1000 values for 10 quantiles would
    produce a Categorical object indicating quantile membership for each data point.

    Parameters
    ----------
    x : 1d ndarray or Series
    q : int or list-like of float
        Number of quantiles. 10 for deciles, 4 for quartiles, etc. Alternately
        array of quantiles, e.g. [0, .25, .5, .75, 1.] for quartiles.
    labels : array or False, default None
        Used as labels for the resulting bins. Must be of the same length as
        the resulting bins. If False, return only integer indicators of the
        bins. If True, raises an error.
    retbins : bool, optional
        Whether to return the (bins, labels) or not. Can be useful if bins
        is given as a scalar.
    precision : int, optional
        The precision at which to store and display the bins labels.
    duplicates : {default 'raise', 'drop'}, optional
        If bin edges are not unique, raise ValueError or drop non-uniques.

    Returns
    -------
    out : Categorical or Series or array of integers if labels is False
        The return type (Categorical or Series) depends on the input: a Series
        of type category if input is a Series else Categorical. Bins are
        represented as categories when categorical data is returned.
    bins : ndarray of floats
        Returned only if `retbins` is True.

    Notes
    -----
    Out of bounds values will be NA in the resulting Categorical object

    Examples
    --------
    >>> pd.qcut(range(5), 4)
    ... # doctest: +ELLIPSIS
    [(-0.001, 1.0], (-0.001, 1.0], (1.0, 2.0], (2.0, 3.0], (3.0, 4.0]]
    Categories (4, interval[float64, right]): [(-0.001, 1.0] < (1.0, 2.0] ...

    >>> pd.qcut(range(5), 3, labels=["good", "medium", "bad"])
    ... # doctest: +SKIP
    [good, good, medium, bad, bad]
    Categories (3, object): [good < medium < bad]

    >>> pd.qcut(range(5), 4, labels=False)
    array([0, 0, 1, 2, 3])