In [7]:
# T1-9. Standardization / #표준화 #중앙값
# 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오
# 풀이

import pandas as pd
import numpy as np
import sklearn.preprocessing

df = pd.read_csv('./data/basic1.csv')
display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

# df['f5']
# print(dir(np))
# print(dir(sklearn.preprocessing))

# Z-score
df['f5'] = df['f5'].zscore()

answer = df['f5'].median()
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'SplineTransformer', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', '_polynomial', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']

In [9]:
# 해답

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('./data/basic1.csv')

scaler = StandardScaler()
# df['f5'] = scaler.fit_transform(df[['f5']])
scaler.fit(df[['f5']])
df['f5'] = scaler.transform(df[['f5']])

answer = df['f5'].median()
print(answer)

0.260619629559015

In [10]:
# 풀이 수정

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('./data/basic1.csv')
display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

# df['f5']
# print(dir(np))
# print(dir(sklearn.preprocessing))

# Z-score
scaler = StandardScaler()
df['f5'] = scaler.fit_transform(df[['f5']])

answer = df['f5'].median()
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

0.260619629559015

## ---------------------------------------

In [16]:
# T1-10. Yeo-Johnson and Box–Cox / #여존슨 #박스-콕스 #결측치 #최빈값
# 주어진 데이터에서 20세 이상인 데이터를 추출하고 
# 'f1'컬럼을 결측치를 최빈값으로 채운 후, 
# f1 컬럼의 여-존슨과 박스콕스 변환 값을 구하고, 
# 두 값의 차이를 절대값으로 구한다음 
# 모두 더해 소수점 둘째 자리까지 출력(반올림)하시오
# 풀이

import pandas as pd
import numpy as np
from sklearn.preprocessing import 여-존슨, 박스-콕스

df = pd.read_csv('./data/basic1.csv')
# display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df = df[df['age'] >= 20]
# display(df)

df['f1'] = df['f1'].fillna(df['f1'].최빈값())
# dir(sklearn.preprocessing)
# dir(df)

box_cox = 박스-콕스()
yeo_johnson = 여-존슨()
b = df['f1'].box_cox()
y = df['f1'].yeo_johnson()

answer = abs(b - y)
answer = round(answer, 2)
print(answer)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'age',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'city',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'f1',
 'f2',
 'f3',
 'f4',
 'f5',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'id',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [23]:
# 해답

import pandas as pd
import numpy as np
from sklearn.preprocessing import power_transform

df = pd.read_csv('./data/basic1.csv')

df = df[df['age'] >= 20]

# df['f1'].mode()
mode_ = df['f1'].mode()[0]
df['f1'] = df['f1'].fillna(mode_)
# df.isnull().sum()

# method 디폴트 값은 여-존슨’yeo-johnson’
# df['yeo'] = power_transform(df[['f1']])

# standardize=False는 python과 R의 디폴트가 달라 결과를 맞추기 위함이었어요! 
# 이번 문제는 출제 가능성이 낮아 보여요 (이미 풀이한 분들이 있어 그대로 두었습니다.)
df['yeo'] = power_transform(df[['f1']], standardize=False)

# df['yeo'].head()

# df['box'] = power_transform(df[['f1']], method='box-cox')
df['box'] = power_transform(df[['f1']], method='box-cox', standardize=False)
# df['box'].head()

answer = round(sum(np.abs(df['yeo'] - df['box'])), 2)
print(answer)

39.17

In [25]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import power_transform

df = pd.read_csv('./data/basic1.csv')
# display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df = df[df['age'] >= 20]
# display(df)

df['f1'] = df['f1'].fillna(df['f1'].mode()[0])
# dir(sklearn.preprocessing)
# dir(df)

# box_cox = 박스-콕스()
# yeo_johnson = 여-존슨()
# b = df['f1'].box_cox()
# y = df['f1'].yeo_johnson()

df['yeo'] = power_transform(df[['f1']], standardize=False)
df['box'] = power_transform(df[['f1']], method='box-cox', standardize=False)

answer = sum(np.abs(df['yeo'] - df['box']))
answer = round(answer, 2)
print(answer)

39.17

## -------------------------------------

In [39]:
# T1-11. min-max scaling / #스케일링 #상하위값
# min-max스케일링 기준 상하위 5% 구하기
# 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후,
# 상위 5%와 하위 5% 값의 합을 구하시오
# 풀이

import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale

df = pd.read_csv('./data/basic1.csv')
display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df['f5'] = minmax_scale(df['f5'])
df = df.sort_values('f5', ascending=False)
# df

sum1 = sum(df.iloc[:int(len(df)*0.05),:]['f5'])
sum2 = sum(df.iloc[int(len(df)*0.95):,:]['f5'])

answer = sum1 + sum2
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

5.0615819224201255

In [35]:
# 해답

import pandas as pd
import numpy as np

df = pd.read_csv('./data/basic1.csv')

# 방법 1
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# df['f5_1'] = scaler.fit_transform(df[['f5']])

# 방법 2
# df['f5_2'] = df['f5'].transform(lambda x: ((x - x.min()) / (x.max() - x.min())))

# 내가 한 방법 (똑같음)
from sklearn.preprocessing import minmax_scale
df['f5_1'] = minmax_scale(df['f5'])

lower = df['f5_1'].quantile(0.05)
upper = df['f5_1'].quantile(0.95)

answer = lower + upper
# 내가 한 방법 answer
print(answer)

1.0248740983597389

In [34]:
# 방법 2 answer 임시로 찍어본거
answer

1.0248740983597389

In [40]:
# 풀이 수정

import pandas as pd
import numpy as np
from sklearn.preprocessing import minmax_scale

df = pd.read_csv('./data/basic1.csv')
display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)

df['f5'] = minmax_scale(df['f5'])
# quantile 쓰면 굳이 안해줘도 되네
df = df.sort_values('f5', ascending=False)
# df

# 문제 이해를 잘못함
# sum1 = sum(df.iloc[:int(len(df)*0.05),:]['f5'])
# sum2 = sum(df.iloc[int(len(df)*0.95):,:]['f5'])

# 확인용
# display(df.iloc[:int(len(df)*0.05),:]['f5'])
# display(df.iloc[int(len(df)*0.95):,:]['f5'])
# 0.988166 + 0.036708 = 1.024874

lower = df['f5'].quantile(0.05)
upper = df['f5'].quantile(0.95)

answer = lower + upper
print(answer)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986

1.0248740983597389

## ----------------------------------------

In [75]:
# T1-12. top10-bottom10 / #그룹핑 #정렬 #상하위값
# 주어진 데이터에서 상위 10개 국가의 접종률 평균과 하위 10개 국가의 접종률 평균을 구하고, 
# 그 차이를 구해보세요 (단, 100%가 넘는 접종률 제거, 소수 첫째자리까지 출력)
# 풀이

import pandas as pd
import numpy as np

df = pd.read_csv('./data/covid-vaccination-vs-death_ratio.csv', index_col=0)
display(df.head(3))
print(df.info())
print(df.isnull().sum())
print(df.shape)
# help(pd.read_csv)

# df['country'].unique()
df = df.sort_values('ratio', ascending=False)
index_ = df['ratio'][df['ratio'] > 100].index
df = df.drop(index_)

upper = df['ratio'][:10].mean()
lower = df['ratio'][-10:].mean()
# df['ratio'][-10:]

answer = round(upper - lower, 1)
print(answer)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40295077.0,1.113977
1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40295077.0,1.167242
2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40295077.0,1.182197

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26623 entries, 0 to 26622
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   country                  26623 non-null  object
 1   iso_code                 26623 non-null  object
 2   date                     26623 non-null  object
 3   total_vaccinations       26623 non-null  float64
 4   people_vaccinated        26623 non-null  float64
 5   people_fully_vaccinated  26623 non-null  float64
 6   New_deaths               26623 non-null  int64
 7   population               26623 non-null  float64
 8   ratio                    26623 non-null  float64
dtypes: float64(5), int64(1), object(3)
memory usage: 2.0+ MB
None
country                    0
iso_code                   0
date                       0
total_vaccinations         0
people_vaccinated          0
people_fully_vaccinated    0
New_deaths                 0
population                 0
ratio                      0
dtype: int64
(26623, 9)
99.0

In [80]:
# 해답

import pandas as pd

df = pd.read_csv('./data/covid-vaccination-vs-death_ratio.csv')

df2 = df.groupby('country').max()
# df2
df2 = df2.sort_values(by='ratio', ascending=False)
display(df2)

df2 = df2[1:]

top = df2['ratio'].head(10).mean()
bottom = df2['ratio'].tail(10).mean()

answer = round(top - bottom, 1)
print(answer)

,Unnamed: 0,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,,
Gibraltar,9209,GIB,2021-12-22,108149.0,41162.0,40046.0,3,33698.0,122.149682
Malta,15892,MLT,2021-12-25,1031293.0,440447.0,435182.0,7,443519.0,99.307358
United Arab Emirates,25051,ARE,2021-12-24,22406584.0,9890348.0,9059559.0,15,10042529.0,98.484635
Cuba,6016,CUB,2021-12-24,29769267.0,10393893.0,9597707.0,98,11313280.0,91.873382
Brunei Darussalam,3879,BRN,2021-12-14,790506.0,405092.0,385414.0,5,443553.0,91.328883
...,...,...,...,...,...,...,...,...,...
South Sudan,22635,SSD,2021-12-15,268640.0,227262.0,181577.0,2,11476909.0,1.980167
Yemen,26293,YEM,2021-12-02,786027.0,556652.0,366587.0,10,30824630.0,1.805868
Chad,4970,TCD,2021-12-15,366585.0,285922.0,80663.0,0,17161160.0,1.666099
Haiti,10226,HTI,2021-12-17,194341.0,122580.0,72102.0,14,11611680.0,1.055661
Burundi,4092,BDI,2021-12-23,7543.0,4010.0,3533.0,0,12438043.0,0.032240

88.4

In [92]:
# 풀이 수정

import pandas as pd
import numpy as np

df = pd.read_csv('./data/covid-vaccination-vs-death_ratio.csv', index_col=0)
display(df.head(3))
# print(df.info())
# print(df.isnull().sum())
# print(df.shape)
# help(pd.read_csv)

# df['country'].unique()
df = df.sort_values('ratio', ascending=False)
index_ = df['ratio'][df['ratio'] > 100].index
df = df.drop(index_)

df = df.groupby('country').max().sort_values('ratio', ascending=False)
upper = df['ratio'][:10].mean()
lower = df['ratio'][-10:].mean()
# df['ratio'][-10:]

answer = round(upper - lower, 1)
print(answer)
display(df.head(10))

# 아 조건이 접종률 100퍼가 넘는 나라는 아예 제거인거네
# 나는 접종률이 100퍼가 넘는 행만 제거하라는 줄
df = pd.read_csv('./data/covid-vaccination-vs-death_ratio.csv', index_col=0)
df = df.groupby('country').max().sort_values('ratio', ascending=False)
df = df[1:]

upper = df['ratio'][:10].mean()
lower = df['ratio'][-10:].mean()
answer = round(upper - lower, 1)
print(answer)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
0,Afghanistan,AFG,2021-05-11,504502.0,448878.0,55624.0,12,40295077.0,1.113977
1,Afghanistan,AFG,2021-05-20,547901.0,470341.0,77560.0,10,40295077.0,1.167242
2,Afghanistan,AFG,2021-05-24,573277.0,476367.0,96910.0,10,40295077.0,1.182197

89.9

,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,New_deaths,population,ratio
country,,,,,,,,
Malta,MLT,2021-12-25,1.031293e+06,4.404470e+05,4.351820e+05,7,4.435190e+05,99.307358
Gibraltar,GIB,2021-04-09,6.301700e+04,3.345700e+04,2.956000e+04,3,3.369800e+04,99.284824
United Arab Emirates,ARE,2021-12-24,2.240658e+07,9.890348e+06,9.059559e+06,15,1.004253e+07,98.484635
Cuba,CUB,2021-12-24,2.976927e+07,1.039389e+07,9.597707e+06,98,1.131328e+07,91.873382
Brunei Darussalam,BRN,2021-12-14,7.905060e+05,4.050920e+05,3.854140e+05,5,4.435530e+05,91.328883
Portugal,PRT,2021-12-24,1.905536e+07,9.180041e+06,9.080467e+06,303,1.015286e+07,90.418267
Chile,CHL,2021-12-22,4.328424e+07,1.720499e+07,1.645267e+07,316,1.926600e+07,89.302302
Cayman Islands,CYM,2021-12-17,1.304100e+05,5.856900e+04,5.686000e+04,1,6.649700e+04,88.077658
Republic of Korea,KOR,2021-12-26,1.000108e+08,4.398289e+07,4.231442e+07,109,5.132742e+07,85.690834
China,CHN,2021-11-19,2.422908e+09,1.225000e+09,1.076308e+09,1,1.446645e+09,84.678700

88.4